useDynLib(basicspace)

export(aldmck,plot.cdf,plot.aldmck,plot.AM,
plot.aldmck_positive,plot.aldmck_negative,blackbox_transpose,
plotcdf.blackbt, blackbox, plot.blackbt,summary.aldmck,plot.aldmck,summary.blackbt, summary.blackbox)

S3method(plot,aldmck)
S3method(summary,aldmck)
S3method(plot,blackbt)
S3method(summary,blackbt)
S3method(summary,blackbox)